# Pandas ðŸ¼

- as we know numpy very usefull when deal with numerical data, so from numpy created Pandas.
- **Pandas powerfull when deal with tabular data( excl file, csv, json)**

#### Pandas object:

 **in pandas there are 2 object :**
 
- series
- DataFrame

-------------------------------------------

--------------------------------------------

1) **Series** : can image it like 1D array (with lable)

.........................................................................................
   
3) **DataFrame** : can image it like 2D array

In [4]:
import pandas as pd
import numpy as np

## Series object

 **1. Create series from a list.**

In [5]:
data = pd.Series([1,2,3,4,5])
data
# after click enter the list side in series is a lable for data (can change it to string).

0    1
1    2
2    3
3    4
4    5
dtype: int64


-.........................................

**2. convert it to Numpy array**   

- To convert it we use -> values

In [6]:
data.values

array([1, 2, 3, 4, 5])

---------------

-----------------

### Series indexing

In [7]:
data[2]

np.int64(3)

In [8]:
data[0]

np.int64(1)

### Custom indexing

- here type custom index(lable) to series.

In [9]:
data = pd.Series([1,2,3,4,5], index=['fi','sec','th','four','fiv'])
data

fi      1
sec     2
th      3
four    4
fiv     5
dtype: int64

In [10]:
data['fi']

np.int64(1)

In [11]:
print(data['sec'])

2

--------------------

-----------------

### Series from python dictionary

In [13]:
population_dict = {'California':38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}

population_dict

{'California': 38332521,
 'Texas': 26448193,
 'New York': 19651127,
 'Florida': 19552860,
 'Illinois': 12882135}

In [16]:
population_series = pd.Series(population_dict)
population_series

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

--------------------------

--------

### Slicing in series

In [17]:
population_series['Texas']

np.int64(26448193)

In [18]:
print(population_series['Texas':'Illinois'])

Texas       26448193
New York    19651127
Florida     19552860
Illinois    12882135
dtype: int64

In [19]:
print(population_series['California':])

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

## The End.