# Pandas üêº

as we know pandas used for analysis data, deal with tabular data.

**Most time you deal with dataFrame**

In [1]:
import pandas as pd
import numpy as np

### 1. creat DataFrame from Series.

In [2]:
population_dict = {'Baghdad':7655695,
                  'Tunis':633894,
                  'Riyadh':7678935,
                  'Cairo':9568232}

population = pd.Series(population_dict)

area_dict = {'Baghdad':204,
            'Tunis':212,
            'Riyadh':1973,
            'Cairo':3085}

area = pd.Series(area_dict)

In [3]:
pd.DataFrame({'population' : population, 'area':area})

         population  area
Baghdad     7655695   204
Tunis        633894   212
Riyadh      7678935  1973
Cairo       9568232  3085

........................................................................
...........................

### 2. From python dictionaries
(most usage)

In [5]:
pd.DataFrame({'population':[7655695,633894,7678935,9568232],
             'area':[204,212,1973,3085]})

# To add lable to index. -> use index=[]

   population  area
0     7655695   204
1      633894   212
2     7678935  1973
3     9568232  3085

In [8]:
data = pd.DataFrame({'population':[7655695,633894,7678935,9568232],
             'area':[204,212,1973,3085]},index=['Baghdad','Tunis','Riyadh','Cairo'])

data

         population  area
Baghdad     7655695   204
Tunis        633894   212
Riyadh      7678935  1973
Cairo       9568232  3085

----------------

----------------

### 3.Get the index lables

 you have data need to know name of rows.

In [9]:
data.index

Index(['Baghdad', 'Tunis', 'Riyadh', 'Cairo'], dtype='object')



-.................................................................................
- **Get the columns names**

In [10]:
data.columns

Index(['population', 'area'], dtype='object')

.............
.................................................

..................................................


- now have data need to get spescific column

In [11]:
data['area'] #return all elemint in area

Baghdad     204
Tunis       212
Riyadh     1973
Cairo      3085
Name: area, dtype: int64

In [12]:
# ..................................
# .. get the area of spesific row ..
# ..................................

data['area']['Cairo']

np.int64(3085)

In [13]:
# ..........................................
# ... creat dataFrame from single series ...
# ..........................................

pd.DataFrame(area)

            0
Baghdad   204
Tunis     212
Riyadh   1973
Cairo    3085

## The End. üëç