# Pandas üêº

## Conditional selection.

- **you can using it select Row&column, by the condition which need. üëçüèª** 

- **using this lesson can answear on any question at explore data**

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ramen-ratings.csv')

In [3]:
df.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

-........................................................

- **TO Explore your data, shoud ask interseting question| Ok üëçüèª**

first question.

1) **. Lets have a look at the ramen dishes served in Taiwan .**

    - step1 get boolean value.

In [4]:
df['Country'] == 'Taiwan'

0       False
1        True
2       False
3        True
4       False
        ...
2575    False
2576    False
2577    False
2578    False
2579    False
Name: Country, Length: 2580, dtype: bool

- use masking like numpy, with selectin (loc -> lable | iloc -> index)

In [5]:
df.loc[df['Country'] == 'Taiwan']

# df[df['Country'] == 'Taiwan']    | also will work.

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
40,2540,Wei Lih,GGE Noodle Snack Wheat Crackers Mexican Spicy,Pack,Taiwan,3.25,NaN
65,2515,Uni-President,Man Han Feast Spicy Beef Flavor Instant Noodles,Bowl,Taiwan,5,NaN
68,2512,Mom's Dry Noodle,Dan Dan Noodle,Pack,Taiwan,5,NaN
...,...,...,...,...,...,...,...
2500,80,Unif / Tung-I,Artificial Chicken,Pack,Taiwan,3.5,NaN
2512,68,Wei Lih,Jah Jan Mien Instant Noodle With Fried Soybean...,Pack,Taiwan,4,NaN
2522,58,Ve Wong,A-One Bun Tom Shrimp,Pack,Taiwan,3,NaN
2537,43,Kim Ve Wong,Jaopai Series: Vegetarian Instant Noodles,Bowl,Taiwan,0,NaN
2572,8,Tung-I,Chinese Beef Instant Rice Noodle,Pack,Taiwan,3,NaN

-----------------

        * keep moving ..!

-----------------

**from here you will learn many thing**

2) have a look at the ramen dishes which have ratings(Stars) above than average(2.5)

In [6]:
# to display first 5 rows from data

df.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

-..................................................

#### here i get first error, from this code :

#### df['Stars'] > 2.5

**why i get error?**

- **Becouse, the values which Stars have it are Object(str = string) | can't do math operation bettwen string and numbers.**

**To solve it, need convert type of data in Stars To =>Float<=**

- **we use -> astype() function to convert to anouther dataType**

**while convert to float dataType, i got annouther Error**

- **becouse some of Stars Values are string(here i'm not mean the type of theme, i mean there are string, have value => Unrated <=)**

**solve, save my Data With out that Rows, |  -> By Next lesson you learn how handel missing data**

In [7]:
# 
# df['Stars'] > 2.5  | Error becouse type of data.
# df['Stars'].info() | info function, return some info about data, like type of dataType.

# df['Stars'].astype(float)  | there are string have values -> Unrated <-


# -----------------------------------------------------------------------
# ----> from here, i know the power of conditional selecting <-----------
# -----------------------------------------------------------------------

# 1. i will find the row which have "Unrated"
df['Stars'] == 'Unrated' # -> give me boolean value


# 2. (optional) if you need to see the rows which have unrated val
df.loc[df['Stars'] == 'Unrated']


# 3. now i need The data, that not equal 'Unrated'
df.loc[df['Stars'] != 'Unrated']


# 4. To save changes in to main dataFrame i do reassign. 
df = df.loc[df['Stars'] != 'Unrated']
df

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

-.........

**Now i fixed the second problem, removed rows that have 'Unrated' Value**

- **the first problem in type of data, let's convert it**

In [8]:
# i did that changes just on -> Stars column <-

# so that i did -> reassign for Stars.

df['Stars'] = df['Stars'].astype(float)

In [9]:

# To check if it Done.

df['Stars'].info()

<class 'pandas.core.series.Series'>
Index: 2577 entries, 0 to 2579
Series name: Stars
Non-Null Count  Dtype
--------------  -----
2577 non-null   float64
dtypes: float64(1)
memory usage: 40.3 KB

In [13]:
# 
# 
# Let's back to our question
#  get all rating that abover over average.


df.loc[df['Stars'] > 2.5]

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
5,2575,Samyang Foods,Kimchi song Song Ramen,Pack,South Korea,4.75,NaN
6,2574,Acecook,Spice Deli Tantan Men With Cilantro,Cup,Japan,4.00,NaN
...,...,...,...,...,...,...,...
2564,16,Samyang,Kalgug-Su (Spicy),Pack,South Korea,3.50,NaN
2566,14,Samyang,Hot,Pack,South Korea,3.50,NaN
2567,13,Sapporo Ichiban,Chow Mein,Pack,Japan,5.00,2012 #4
2572,8,Tung-I,Chinese Beef Instant Rice Noodle,Pack,Taiwan,3.00,NaN
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50,NaN

### Summarize.

#### what you learned from last examble.

1) **convert data Type.**
2) **handel missing data (by next lesson you learn more).**

-------------------

## you can do it, you -> üêâ <-

-------------------

3) **Served dished in Taiwan with above average ratings.**

**i will explain the Task.**

- **I need Style (Dishes) with Stars rating above average (greater than 2.5) in Taiwan**

**Here we use logical operations** 

    1) and => &
    2) or  => |
    3) not => ~

In [14]:
df.loc[(df['Country'] == 'Taiwan') & (df['Stars'] > 2.5)]

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
40,2540,Wei Lih,GGE Noodle Snack Wheat Crackers Mexican Spicy,Pack,Taiwan,3.25,NaN
65,2515,Uni-President,Man Han Feast Spicy Beef Flavor Instant Noodles,Bowl,Taiwan,5.00,NaN
68,2512,Mom's Dry Noodle,Dan Dan Noodle,Pack,Taiwan,5.00,NaN
79,2501,Happy Cook,Toona Paste Noodle,Pack,Taiwan,4.00,NaN
...,...,...,...,...,...,...,...
2499,81,Unif / Tung-I,Artificial Spicy Beef,Pack,Taiwan,3.50,NaN
2500,80,Unif / Tung-I,Artificial Chicken,Pack,Taiwan,3.50,NaN
2512,68,Wei Lih,Jah Jan Mien Instant Noodle With Fried Soybean...,Pack,Taiwan,4.00,NaN
2522,58,Ve Wong,A-One Bun Tom Shrimp,Pack,Taiwan,3.00,NaN
2572,8,Tung-I,Chinese Beef Instant Rice Noodle,Pack,Taiwan,3.00,NaN

------------

# You are üòé

----------------

4) **Get only the Brand and Style of these dishes.**

**in last Task i extract the dishes with stars rating above 2.5 in taiwan**

- **now i need Brand and Style fro theme.**

In [15]:
# df.loc[Rows, Columns]

df.loc[(df['Country'] == 'Taiwan') & (df['Stars'] > 2.5 ), ['Brand','Style']]

                 Brand Style
3              Wei Lih  Pack
40             Wei Lih  Pack
65       Uni-President  Bowl
68    Mom's Dry Noodle  Pack
79          Happy Cook  Pack
...                ...   ...
2499     Unif / Tung-I  Pack
2500     Unif / Tung-I  Pack
2512           Wei Lih  Pack
2522           Ve Wong  Pack
2572            Tung-I  Pack

[191 rows x 2 columns]

-------------------

### the Last ronnine

------------------

5) **have a look at the dishes served in both Finland and Sweden**

- **Here i need Extract Data from grouped members**

In [20]:

# df.loc[df['Country'] == 'Finland'] | => get finland data.

# to extract data for more than one -> i use function => isin <=


df[df['Country'].isin(['Finland','Sweden'])]

df.loc[df['Country'].isin(['Finland','Sweden'])]

# i can do it by logical operation.

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
675,1905,Pirkka,Nuudeli Kana Nudlar Kyckling,Pack,Finland,3.50,NaN
816,1764,Pirkka,Nuudeli Tom Yum Katkarapu,Pack,Finland,3.75,NaN
856,1724,Pirkka,Nuudeli Liha Nudlar Kott,Pack,Finland,3.50,NaN
1026,1554,ICA,Asia Fast Noodles Snabbnudlar R√§ksmak,Pack,Sweden,3.00,NaN
1063,1517,Katoz,Instant Noodles Spicy Chili,Pack,Sweden,3.50,NaN
1093,1487,ICA,Asia Snabbnudlar Kycklingsmak,Pack,Sweden,3.25,NaN

**Summrized:**

#### What i learned:

1) extract Data by specific value (spicials groups of country, dishes, restourant(Brand))

--------------------

**Just countain**

--------------------

6) **Get the not null values from the Top Ten column.**

**We have some fuction:**

- **isnull() => Return True if that value was null(NaN)**

..
    - **i can check all data OR specific column.**
..

- **notnull() => return True if that value was not null(NaN)**

In [25]:

# now we see , we have many values have NaN.

df.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [28]:
df.isnull() # all Data
df['Top Ten'].isnull() # just check Top Ten column.

0       True
1       True
2       True
3       True
4       True
        ...
2575    True
2576    True
2577    True
2578    True
2579    True
Name: Top Ten, Length: 2577, dtype: bool

In [32]:

# df['Top Ten'].isnull()     | -> returned boolean value.

# df[df['Top Ten'].isnull()] | -> return the data that have null in -> Top Ten <- column.


# we know this symbole -> ~ <- is not

df[~df['Top Ten'].isnull()] # | i need all values in > Top Ten < which not equal null (NaN).

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
616,1964,MAMA,Instant Noodles Coconut Milk Flavour,Pack,Myanmar,5.00,2016 #10
633,1947,Prima Taste,Singapore Laksa Wholegrain La Mian,Pack,Singapore,5.00,2016 #1
655,1925,Prima,Juzz's Mee Creamy Chicken Flavour,Pack,Singapore,5.00,2016 #8
673,1907,Prima Taste,Singapore Curry Wholegrain La Mian,Pack,Singapore,5.00,2016 #5
752,1828,Tseng Noodles,Scallion With Sichuan Pepper Flavor,Pack,Taiwan,5.00,2016 #9
891,1689,Wugudaochang,Tomato Beef Brisket Flavor Purple Potato Noodle,Pack,China,5.00,2016 #7
942,1638,A-Sha Dry Noodle,Veggie Noodle Tomato Noodle With Vine Ripened ...,Pack,Taiwan,5.00,2015 #10
963,1617,MyKuali,Penang Hokkien Prawn Noodle (New Improved Taste),Pack,Malaysia,5.00,2015 #7
995,1585,CarJEN,Nyonya Curry Laksa,Pack,Malaysia,5.00,2015 #4
1059,1521,Maruchan,Gotsumori Sauce Yakisoba,Tray,Japan,5.00,2015 #9
1072,1508,Mamee,Chef Gold Recipe Mi Kari Seribu Rasa,Pack,Malaysia,5.00,2015 #6
1080,1500,MyKuali,Penang Red Tom Yum Goong Noodle,Pack,Malaysia,5.00,2015 #1
1109,1471,Mama,Instant Noodles Shrimp Creamy Tom Yum Flavour ...,Pack,Thailand,5.00,2013 #10
1114,1466,Mama,Oriental Style Instant Noodles Green Curry Fla...,Pack,Thailand,5.00,2015 #8
1230,1350,Mamee,Chef Curry Laksa Flavour,Pack,Malaysia,5.00,2014 #7
1250,1330,Sapporo Ichiban,Otafuku Okonomi Sauce Yakisoba,Tray,Japan,5.00,2014 #4
1272,1308,Nongshim,Soon Veggie Noodle Soup,Pack,South Korea,5.00,2014 #9
1278,1302,Mama,Instant Noodles Yentafo Tom Yum Mohfai Flavour,Pack,Thailand,5.00,2014 #10
1309,1271,Prima Taste,Singapore Chilli Crab La Mian,Pack,Singapore,5.00,2014 #8
1382,1198,Samyang Foods,Maesaengyitangmyun Baked Noodle,Pack,South Korea,5.00,2014 #5
1397,1183,Paldo,Cheese Noodle,Pack,South Korea,5.00,2014 #6
1493,1087,MyKuali,Penang White Curry Noodle,Pack,Malaysia,5.00,2014 #1
1588,992,Prima Taste,Singapore Laksa La Mian,Pack,Singapore,5.00,2013 #1
1589,991,Prima Taste,Singapore Curry La Mian,Pack,Singapore,5.00,2013 #2
1646,934,Nongshim,Jinjja Jinjja Flamin' Hot & Nutty,Pack,USA,5.00,2013 #4
1670,910,Paldo,Namja Ramyun,Bowl,South Korea,4.25,\n
1757,823,Paldo,Kokomen Spicy Chicken,Pack,South Korea,5.00,2013 #9
1846,734,Indomie,Mi Goreng Rasa Ayam Panggang Jumbo (Local),Pack,Indonesia,5.00,\n
1865,715,Indomie,Mi Goreng Rendang (Import),Pack,Indonesia,5.00,2013 #3
1972,608,Koka,Spicy Black Pepper,Pack,Singapore,5.00,2012 #10
2002,578,Nongshim,Shin Ramyun Black,Pack,South Korea,4.75,2012 #7
2146,434,Mi Sedaap,Kari Spesial,Pack,Indonesia,4.50,2012 #5
2188,392,Nissin,Yakisoba Noodles Karashi,Tray,Japan,5.00,2012 #3
2189,391,Myojo,Hyoubanya No Chukasoba Oriental,Pack,Japan,4.25,2012 #6
2248,332,Nongshim,Champong Oriental Noodles,Cup,South Korea,3.75,\n
2295,285,Doll,Artificial Chicken,Pack,Hong Kong,4.50,2012 #9
2475,105,Indomie,Special Fried Curly Noodle,Pack,Indonesia,5.00,2012 #1
2533,47,Indomie,Mi Goreng Jumbo Barbecue Chicken,Pack,Indonesia,5.00,2012 #2
2535,45,Indomie,Mi Goreng Sate,Pack,Indonesia,5.00,\n
2549,31,Myojo,Ippeichan Yakisoba,Tray,Japan,4.00,2013 #6
2567,13,Sapporo Ichiban,Chow Mein,Pack,Japan,5.00,2012 #4

In [34]:

# The sec way.

# get all row from -> Top Ten <- column, which not equal null(NaN).

df[df['Top Ten'].notnull()]

# the same out put from first way.

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
616,1964,MAMA,Instant Noodles Coconut Milk Flavour,Pack,Myanmar,5.00,2016 #10
633,1947,Prima Taste,Singapore Laksa Wholegrain La Mian,Pack,Singapore,5.00,2016 #1
655,1925,Prima,Juzz's Mee Creamy Chicken Flavour,Pack,Singapore,5.00,2016 #8
673,1907,Prima Taste,Singapore Curry Wholegrain La Mian,Pack,Singapore,5.00,2016 #5
752,1828,Tseng Noodles,Scallion With Sichuan Pepper Flavor,Pack,Taiwan,5.00,2016 #9
891,1689,Wugudaochang,Tomato Beef Brisket Flavor Purple Potato Noodle,Pack,China,5.00,2016 #7
942,1638,A-Sha Dry Noodle,Veggie Noodle Tomato Noodle With Vine Ripened ...,Pack,Taiwan,5.00,2015 #10
963,1617,MyKuali,Penang Hokkien Prawn Noodle (New Improved Taste),Pack,Malaysia,5.00,2015 #7
995,1585,CarJEN,Nyonya Curry Laksa,Pack,Malaysia,5.00,2015 #4
1059,1521,Maruchan,Gotsumori Sauce Yakisoba,Tray,Japan,5.00,2015 #9
1072,1508,Mamee,Chef Gold Recipe Mi Kari Seribu Rasa,Pack,Malaysia,5.00,2015 #6
1080,1500,MyKuali,Penang Red Tom Yum Goong Noodle,Pack,Malaysia,5.00,2015 #1
1109,1471,Mama,Instant Noodles Shrimp Creamy Tom Yum Flavour ...,Pack,Thailand,5.00,2013 #10
1114,1466,Mama,Oriental Style Instant Noodles Green Curry Fla...,Pack,Thailand,5.00,2015 #8
1230,1350,Mamee,Chef Curry Laksa Flavour,Pack,Malaysia,5.00,2014 #7
1250,1330,Sapporo Ichiban,Otafuku Okonomi Sauce Yakisoba,Tray,Japan,5.00,2014 #4
1272,1308,Nongshim,Soon Veggie Noodle Soup,Pack,South Korea,5.00,2014 #9
1278,1302,Mama,Instant Noodles Yentafo Tom Yum Mohfai Flavour,Pack,Thailand,5.00,2014 #10
1309,1271,Prima Taste,Singapore Chilli Crab La Mian,Pack,Singapore,5.00,2014 #8
1382,1198,Samyang Foods,Maesaengyitangmyun Baked Noodle,Pack,South Korea,5.00,2014 #5
1397,1183,Paldo,Cheese Noodle,Pack,South Korea,5.00,2014 #6
1493,1087,MyKuali,Penang White Curry Noodle,Pack,Malaysia,5.00,2014 #1
1588,992,Prima Taste,Singapore Laksa La Mian,Pack,Singapore,5.00,2013 #1
1589,991,Prima Taste,Singapore Curry La Mian,Pack,Singapore,5.00,2013 #2
1646,934,Nongshim,Jinjja Jinjja Flamin' Hot & Nutty,Pack,USA,5.00,2013 #4
1670,910,Paldo,Namja Ramyun,Bowl,South Korea,4.25,\n
1757,823,Paldo,Kokomen Spicy Chicken,Pack,South Korea,5.00,2013 #9
1846,734,Indomie,Mi Goreng Rasa Ayam Panggang Jumbo (Local),Pack,Indonesia,5.00,\n
1865,715,Indomie,Mi Goreng Rendang (Import),Pack,Indonesia,5.00,2013 #3
1972,608,Koka,Spicy Black Pepper,Pack,Singapore,5.00,2012 #10
2002,578,Nongshim,Shin Ramyun Black,Pack,South Korea,4.75,2012 #7
2146,434,Mi Sedaap,Kari Spesial,Pack,Indonesia,4.50,2012 #5
2188,392,Nissin,Yakisoba Noodles Karashi,Tray,Japan,5.00,2012 #3
2189,391,Myojo,Hyoubanya No Chukasoba Oriental,Pack,Japan,4.25,2012 #6
2248,332,Nongshim,Champong Oriental Noodles,Cup,South Korea,3.75,\n
2295,285,Doll,Artificial Chicken,Pack,Hong Kong,4.50,2012 #9
2475,105,Indomie,Special Fried Curly Noodle,Pack,Indonesia,5.00,2012 #1
2533,47,Indomie,Mi Goreng Jumbo Barbecue Chicken,Pack,Indonesia,5.00,2012 #2
2535,45,Indomie,Mi Goreng Sate,Pack,Indonesia,5.00,\n
2549,31,Myojo,Ippeichan Yakisoba,Tray,Japan,4.00,2013 #6
2567,13,Sapporo Ichiban,Chow Mein,Pack,Japan,5.00,2012 #4

-----------------

-----------------

-----------------


- **The Nest Part is Assigning data üëΩ**


-----------------

## 2. Assigning Data üï∏


#### to know how much something very important, shoud know what it do.


#### using assigning Data what can i do ?:

-..

**1. Change all rows value for specific column.**

**2. Creat or add new column to my dataFrame**

In [38]:

# in Brand column, change all rows value.

df['Brand'] = 'hi'

df.loc[:,'Brand'] = 'hi'

In [47]:


# Creat or add new Column in dataFrame.


df['isStyleCup'] = (df['Style'] == 'Cup')

# now created new column, to know if style cup or no.

In [46]:
df.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten,isStyleCup
0,2580,hi,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN,True
1,2579,hi,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,NaN,False
2,2578,hi,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN,True
3,2577,hi,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN,False
4,2576,hi,Singapore Curry,Pack,India,3.75,NaN,False

-------------------------------

# The End !.üëç

----------------------------------