# Pandas üêº

In [1]:
import pandas as pd

In [2]:
item_cat = pd.read_csv('Predict_Future_Sales/item_categories.csv')
items = pd.read_csv('Predict_Future_Sales/items.csv')
sales = pd.read_csv('Predict_Future_Sales/sales_train.csv')
shops = pd.read_csv('Predict_Future_Sales/shops.csv')

In [3]:
left = pd.DataFrame({'Key':['foo','bar'],'val':[1,2]})

right = pd.DataFrame({'Key':['foo','bar'],'val':[4,5]})

In [4]:
left

   Key  val
0  foo    1
1  bar    2

In [5]:
right

   Key  val
0  foo    4
1  bar    5

In [8]:
pd.merge(left, right, how='inner',on='Key')

   Key  val_x  val_y
0  foo      1      4
1  bar      2      5

In [13]:
# suffixes -> param :
# - change the lable.

pd.merge(left, right, how='inner',on='Key', suffixes=('_from-left','_from-right'))

   Key  val_from-left  val_from-right
0  foo              1               4
1  bar              2               5

In [14]:
 # ////////////////// join /////////////

In [17]:
left.join(right, how='outer',lsuffix='_left', rsuffix='_right')

  Key_left  val_left Key_right  val_right
0      foo         1       foo          4
1      bar         2       bar          5

merge -> combining by column
join  -> do it by index , to make it work same merge

- **make on of column index lable by -> set_index()**

In [18]:
left = left.set_index('Key')
right = right.set_index('Key')

In [19]:
left

     val
Key
foo    1
bar    2

In [21]:
right

     val
Key
foo    4
bar    5

In [22]:
left.join(right, how='outer',lsuffix='_left', rsuffix='_right')

     val_left  val_right
Key
bar         2          5
foo         1          4