# pandas üêº

### index based selection (implicit index) VS  Lable based selection(explicit index)


#### summary

**in pandas there are two type to indexing**

1) implicit indexing 
2) explicit indexing

.........................................................................................

**1. implicit indexing**
 we use iloc

- iloc[Row,Column]  | index start from 0


..................

**2. explicit indexing (lable indexing)**
 we use loc

- loc[Row_name , column_name]

-----------------------------------------

-----------------------------------------

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ramen-ratings.csv')

In [3]:
# ...............................................

### ---------------------------------
### -- implicit indexing (iloc) --
### ---------------------------------

In [5]:
df.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [6]:
# get first 3 rows, with first 3 columns
df.iloc[:3 , :3]

   Review #      Brand                                            Variety
0      2580  New Touch                          T's Restaurant Tantanmen
1      2579   Just Way  Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...
2      2578     Nissin                      Cup Noodles Chicken Vegetable

In [7]:
# -//////////////////////////////////////////////////////////////////////////////////////

### ---------------------------------
### -- explicit indexing (loc) --
### ---------------------------------

In [8]:
df.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [12]:
#  get first row, with Brand column
df.loc[0,'Brand']

'New Touch'

In [13]:
#  get first 3 row, with Brand column
df.loc[:3,'Brand']

0    New Touch
1     Just Way
2       Nissin
3      Wei Lih
Name: Brand, dtype: object

## the End üëç